* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;

  --bg-color: #f0ecf0;
  --color-text: #212121;
  --secundary-text: #0000008a;
  --error-text: #EF3E39;
  --white: #fff;
  --border-color: #d3d3d3;
  --default-blue: #00AEEF;
  --button-hover: #0089bc;
  --bg-button-disabled: #0000001c;
  --text-button: #00000040;
  --text-description: #0000008a;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  display: grid;
  place-items: center;
  font-size: 1.4rem;
  line-height: 1.4;
}

.containerForgotPasword {
  width: 40rem;
  height: 41.75rem;
  background-color: var(--white);
  padding: 4rem 6rem 6rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 15%), 0 1px 2px 0 rgb(0 0 0 / 5%);
}

.containerForgotPasword .logo img {
  max-width: 12rem;
  margin-bottom: 2rem;
}

.main .description h3 {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--color-text);
  margin: 1.5rem 0 1rem 0;
}

.main .description p {
  font-size: 1.4rem;
  color: var(--secundary-text);
  margin-bottom: 2.5rem;
}

.inputEmail {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.inputEmail input {
  padding: 0.1rem 0.2rem;
  margin-block: 1.5rem;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--border-color);
  transition: .3s;
  font-size: 1.6rem;
}

.inputEmail label {
  transition: .3s;
  position: absolute;
  bottom: 30%;
  margin-bottom: 0.5rem;
  color: var(--border-color);
}

.inputEmail input:focus,
.inputEmail.focus input:focus  {
  border-color: var(--default-blue);
}

.inputEmail.focus input {
  border-color: var(--border-color);
}

.inputEmail input:focus ~ label,
.inputEmail.focus label {
  color: var(--default-blue);
  bottom: 65%;
}

.textError {
  display: none;
}

.textError.enable {
  display: block;
  font-size: 1.2rem;
  color: var(--error-text);
}

footer {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer img{
  padding: 1.2rem;
}

footer img:hover {
  background-color: var(--border-color);
  transition: background-color 300ms;
  border-radius: 50%;
  filter: brightness(1.1);
}

footer button {
  border: none;
  background-color: var(--bg-button-disabled);
  cursor: not-allowed;
  padding: 0.6rem 1.2rem;
  transform: scale(1.1);
  transition: .5s;
  text-transform: uppercase;
  box-shadow: 0px 1px 5px rgb(0 0 0 / 20%), 0px 2px 2px rgb(0 0 0 / 11%), 0px 3px 1px rgb(0 0 0 / 11%);

}

footer button#sendEmail.enable {
  color: var(--white);
  background-color: var(--default-blue);
  cursor: pointer;
}

footer button#sendEmail.enable:hover {
  background-color: var(--button-hover);
}

.containerForgotPasword.successPassword .inputEmail,
.containerForgotPasword.successPassword footer button {
  transition: .5s;
  display: none;
}

@media (max-width: 768px) {
  body {
    background-color: var(--white);
  }

  .containerForgotPasword {
    box-shadow: none;
  }
}